<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/_Layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="menu container">
        <nav class="navbar navbar-expand-lg navbar-light  container">
            <a class="navbar-brand" href="#">
                <img src="image/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <i class="fas fa-home fa-lg"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            SẢN PHẨM
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">ĐIỆN THOẠI </a>
                            <a class="dropdown-item" href="#">TABLET</a>
                            <a class="dropdown-item" href="#">LAPTOP</a>
                            <a class="dropdown-item" href="#">PHỤ KIỆN</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HƯỚNG DẪN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="container">
                <div class="detail row">
                    <div class="left col-lg-6">
                        <p>
                            <b>CÔNG TY TNHH Shop and Devices</b>
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <b>Địa chỉ:</b> 140 Lê Trọng Tấn, Phường 15, Tân Phú, Hồ Chí Minh
                            </li>
                            <li>
                                <a href="tel:0808080808">
                                    <b>Hotline:</b> 080808080808-080808080808
                                </a>
                            </li>
                            <li>
                                <a href="mailto:lienhe@coffee.com">
                                    <b>Email:</b> lienhe@coffee.com
                                </a>
                            </li>
                        </ul>
                        <img src="image/h10_b6.png">
                    </div>
                    <div class="right col-lg-6 text-lg-right">
                        <p>
                            <b>CHÍNH SÁCH VÀ QUY ĐỊNH</b>
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Chính sách và quy định chung</a>
                            </li>
                            <li>
                                <a href="#">Quy định thanh toán và giao hàng</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo hành và đổi trả</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo mật thông tin</a>
                            </li>
                            <li>
                                <a href="#">Quy trình xử lý khiếu nại</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="copy ">
                <div class="container  d-lg-flex   justify-content-lg-between   align-items-center">
                    <span class="d-flex justify-content-center">
                        <p class="justify-content-center">
                            Copyright
                            <i class="far fa-copyright"></i> Công Ty TNHH Shop and Devices. All right reserved
                        </p>
                    </span>
                    <span class="icon d-flex justify-content-center">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
